:root {
    --primary-color:  rgb(12, 12, 12);
    --secondary-color: #0038a1;
    --primary-hoover-color: rgb(42, 42, 42);
    --secondary-hoover-color: #003fb5;
    --text-color: #000000;
  }
  
  
  
  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  
    .b-example-divider {
      width: 100%;
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
  
    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }
  
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
  
    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }
  
    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  
    .btn-bd-primary {
      --bd-violet-bg: #712cf9;
      --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  
      --bs-btn-font-weight: 600;
      --bs-btn-color: var(--bs-white);
      --bs-btn-bg: var(--bd-violet-bg);
      --bs-btn-border-color: var(--bd-violet-bg);
      --bs-btn-hover-color: var(--bs-white);
      --bs-btn-hover-bg: #6528e0;
      --bs-btn-hover-border-color: #6528e0;
      --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
      --bs-btn-active-color: var(--bs-btn-hover-color);
      --bs-btn-active-bg: #5a23c8;
      --bs-btn-active-border-color: #5a23c8;
    }
  
    .bd-mode-toggle {
      z-index: 1500;
    }
  
    .bd-mode-toggle .dropdown-menu .active .bi {
      display: block !important;
    }
    .form-control-dark {
      border-color: var(--bs-gray);
    }
    .form-control-dark:focus {
      border-color: #fff;
      box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }
    
    .text-small {
      font-size: 85%;
    }
    
    .dropdown-toggle:not(:focus) {
      outline: 0;
    }
    html,
  body {
    height: 100%;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-signin{
    background-color: var(--primary-color);
    color: #fff;
  }
  .btn-signin:hover{
    background-color:var(--primary-hoover-color);
    color: #fff;
  }
  
  .d-block{
    color: #ffffff;
  }
  
  .navbar {
    list-style: none;
    margin-top: 20px;
    .filter-trigger {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 5px;
      transition: all 0.5s;
      position: relative;
      
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: purple;
        opacity: 0;
        transition: all 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
      }
      
      &.active {
        &:after {
          opacity: 1;
        }
      }
      
      &:hover {
        cursor: pointer;
        
        &:after {
          opacity: 1;
        }
      }
    }
  }
  
  .user-wrapper {
    margin-top: 50px;
    .user {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.3s;
      
      &.hide {
        opacity: 0;
        top: 0;
        left: 0;
        transform: scale(0);
        position: absolute;
      }
      
      .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
        transition: all 0.3s;
      }
      
      &.developer {
        .circle {
          background-color: cyan;
        }
      }
      
      &.designer {
        .circle {
          background-color: magenta;
        }
      }
      
      &.consultant {
        .circle {
          background-color: gold;
        }
      }
      
      &.management {
        .circle {
          background-color: black;
        }
      }
      
      &:nth-of-type(1) {
        .circle {
          background-image: url('https://images.pexels.com/photos/1722198/pexels-photo-1722198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
          background-size: cover;
          background-position: center;
        }
      }
      
      &:nth-of-type(2) {
        .circle {
          background-image: url('https://images.pexels.com/photos/3777943/pexels-photo-3777943.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
          background-size: cover;
          background-position: center;
        }
      }
      
      &:nth-of-type(3) {
        .circle {
          background-image: url('https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
          background-size: cover;
          background-position: center;
        }
      }
      
      &:nth-of-type(4) {
        .circle {
          background-image: url('https://images.pexels.com/photos/1445527/pexels-photo-1445527.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
          background-size: cover;
          background-position: center;
        }
      }
      
      &:nth-of-type(5) {
        .circle {
          background-image: url('https://images.pexels.com/photos/3767392/pexels-photo-3767392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
          background-size: cover;
          background-position: center;
        }
      }
      
      &:nth-of-type(6) {
        .circle {
          background-image: url('https://images.pexels.com/photos/3768689/pexels-photo-3768689.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
          background-size: cover;
          background-position: center;
        }
      }
      
      &:nth-of-type(7) {
        .circle {
          background-image: url('https://images.pexels.com/photos/3776932/pexels-photo-3776932.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
          background-size: cover;
          background-position: center;
        }
      }
      
      &:nth-of-type(8) {
        .circle {
          background-image: url('https://images.pexels.com/photos/7451211/pexels-photo-7451211.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
  .navbar-brand{
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 0%;
  }
  .info{
    padding-right: 15%;
  }
  .navbar .rounded-circle{
    width: 10%;
    
  }
  .welcome{
    font-weight: bold;
    font-size: 100%;
  }
  .name{
    font-weight: bold;
    font-size: 150%;
    padding-bottom: 2%;
  }
  
  .navbar .d-block{
    color: #000000;
  }
  .nav-icon
  {
    padding: 15px;
  }
  .nav-item{
    margin-right: 6%;
    margin-bottom: 1%;
  }
  .rounded-circle{
    width: 5%;
    height: 3%;
  }
  @font-face { 
    font-family:EncodeSansExpanded-Bold;
    src:url(https://tazkarti.com/Bahij_TheSansArabic-Bold.1891376455ec0b96af49.eot);
    src:url(https://tazkarti.com/Bahij_TheSansArabic-Bold.1891376455ec0b96af49.eot?#iefix) format("embedded-opentype"),url(https://tazkarti.com/Bahij_TheSansArabic-Bold.ca1174ca1a96491620f1.svg#Bahij_TheSansArabic-Bold) format("svg"),url(https://tazkarti.com/Bahij_TheSansArabic-Bold.3371a340ec9b643371b1.ttf) format("truetype"),url(https://tazkarti.com/Bahij_TheSansArabic-Bold.4086b7b5622ef24c91a4.woff2) format("woff2"),url(https://tazkarti.com/Bahij_TheSansArabic-Bold.c0a1480dd02f2b7ffe99.woff) format("woff");
    font-weight:400;
    font-style:normal;
  } 
  @font-face { 
    font-family:EncodeSansExpanded-Regular;
    src:url(https://tazkarti.com/Bahij_TheSansArabic-Plain.e1cbd849d61bd093e049.eot);
    src:url(https://tazkarti.com/Bahij_TheSansArabic-Plain.e1cbd849d61bd093e049.eot?#iefix) format("embedded-opentype"),url(https://tazkarti.com/Bahij_TheSansArabic-Plain.e86872f300ce6322a817.svg#BahijTheSansArabic-Plain) format("svg"),url(https://tazkarti.com/Bahij_TheSansArabic-Plain.736dda7c198b2dde1b12.ttf) format("truetype"),url(https://tazkarti.com/Bahij_TheSansArabic-Plain.72ec6ebb4af77974b25f.woff2) format("woff2"),url(https://tazkarti.com/Bahij_TheSansArabic-Plain.9ef9bae614cb1204e00d.woff) format("woff");
    font-weight:400;
    font-style:normal;
  } 
  @font-face { 
    font-family:EncodeSansExpanded-Bold;
    src:url(https://tazkarti.com/EncodeSansExpanded-Bold.12d4475dc52c0db2db4f.eot);
    src:url(https://tazkarti.com/EncodeSansExpanded-Bold.12d4475dc52c0db2db4f.eot?#iefix) format("embedded-opentype"),url(https://tazkarti.com/EncodeSansExpanded-Bold.43ee4910c23a2ac960b2.svg#EncodeSansExpanded-Bold) format("svg"),url(https://tazkarti.com/EncodeSansExpanded-Bold.20782b3a47f28a708450.ttf) format("truetype"),url(https://tazkarti.com/EncodeSansExpanded-Bold.4a8e6f0b53c9880f7b4e.woff) format("woff"),url(https://tazkarti.com/EncodeSansExpanded-Bold.91bcb5635c9aa6ae2529.woff2) format("woff2");
    font-weight:400;
    font-style:normal;
    unicode-range:U+0000-007F;
  } 
  @font-face { 
    font-family:EncodeSansExpanded-Regular;
    src:url(https://tazkarti.com/EncodeSansExpanded-Regular.4038e68d1f140762ffd9.eot);
    src:url(https://tazkarti.com/EncodeSansExpanded-Regular.4038e68d1f140762ffd9.eot?#iefix) format("embedded-opentype"),url(https://tazkarti.com/EncodeSansExpanded-Regular.332fe2a01c2d10418fac.svg#EncodeSansExpanded-Regular) format("svg"),url(https://tazkarti.com/EncodeSansExpanded-Regular.24762146b1c2797f2ae3.ttf) format("truetype"),url(https://tazkarti.com/EncodeSansExpanded-Regular.84a5a673ede787e99e5a.woff) format("woff"),url(https://tazkarti.com/EncodeSansExpanded-Regular.3e5d93bd0d7f386b108a.woff2) format("woff2");
    font-weight:400;
    font-style:normal;
    unicode-range:U+0000-007F;
  } 
    body {  
      font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-weight:400;
      line-height:1.5;
      color:#212529;
      text-align:left;
      font-size:14px;
      direction:ltr;
    }  
  * { 
      box-sizing: border-box;
  } 
  
  * { 
      outline: 0!important; 
      box-sizing: border-box; 
      padding: 0; 
      margin: 0; 
      
  } 
  
  body { 
      margin: 0; 
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
      font-weight: 400; 
      line-height: 1.5; 
      color: #212529; 
      text-align: left;
  } 
  
  body { 
      font-family: EncodeSansExpanded-Regular,arial,tahoma; 
      font-size: 14px; 
      background-color: #eee; 
      min-width: 318px; 
      position: relative;
  } 
  
  html { 
      font-family: sans-serif; 
      line-height: 1.15; 
      -webkit-text-size-adjust: 100%; 
      -webkit-tap-highlight-color: transparent;
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  .match  { 
      position: relative; 
      transition: all .2s linear; 
      margin-bottom: 25px;
  } 
  
  .match .top  { 
       
      background-color: #ffffff; 
      display: flex; 
      justify-content: space-between; 
      z-index: 9; 
      transition: all .2s linear;
  } 
  
  .clearfix:after { 
      display: block; 
      clear: both; 
      content: "";
  } 
  
  .clearfix:after { 
      content: ""; 
      display: block; 
      visibility: hidden; 
      clear: both;
  } 
  
  .match .bottom  { 
      padding: 8px 13px; 
      background-color: #f6f6f6; 
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      position: relative; 
      z-index: 8; 
      color: #000; 
      font-size: 12px; 
      overflow: hidden; 
      transition: all .2s linear; 
      max-height: 35px;
  } 
  
  .match .top .teams  { 
      position: relative; 
      font-size: 0; 
      white-space: nowrap; 
      flex-grow: 1; 
      background: #ffffff; 
     
      max-width: 40%;
      
  } 
  
  .match .top .blocks  { 
      display: flex; 
      justify-content: space-between; 
      flex-basis: 60%; 
      align-items: center;
  } 
  
  .match .bottom .status  { 
      position: relative; 
      height: 18px; 
      line-height: 18px;
  } 
  
  .match .bottom .status  { 
      padding-left: 15px;
  } 
  
  .matches .match .bottom .status::before { 
      content: ""; 
      position: absolute; 
      top: 50%; 
      transform: translateY(-50%); 
      width: 10px; 
      height: 10px; 
      border-radius: 50%;
  } 
  
  .matches .match .bottom .status.green::before { 
      background-color: #2ebc26;
  } 
  
  html[dir="ltr"] .matches .match .bottom .status::before { 
      left: 0;
  } 
  
  .first { 
      margin-bottom: 8px; 
      margin-top: 8px; 
      font-size: 16px;
  } 
  
  .match .top .teams .image-holder  { 
      width: 40px; 
      height: 40px; 
      border-radius: 50%; 
      overflow: hidden; 
      background-color: #fff; 
      border: 1px solid #ccc; 
      display: inline-block; 
      vertical-align: middle; 
      position: relative;
  } 
  
  .match .top .teams .image-holder.first  { 
      z-index: 2;
  } 
  
  .second { 
      font-size: 16px; 
      margin-bottom: 8px;
  } 
  
  .match .top .teams .image-holder.second  { 
      margin-left: -10px; 
      margin-right: 10px;
  } 
  
  .match .top .teams .team-names  { 
      display: inline-block; 
      vertical-align: middle; 
      max-width: calc(100% - 100px); 
      white-space: normal;
  } 
  
  .match .top .blocks .one-block  { 
      font-size: 0; 
      white-space: nowrap; 
      min-width: 125px;
  } 
  
  .match .top .blocks .one-block  { 
      margin-right: 0;
  } 
  
  button { 
      border-radius: 0;
  } 
  
  button { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  button { 
      overflow: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  
  
  .button { 
      display: block; 
      text-align: center; 
      width: 100%; 
      max-width: 130px; 
      margin: 0 auto; 
      height: 45px; 
      line-height: 45px; 
      color: #fff; 
      padding: 0; 
      border: none; 
      cursor: pointer; 
      font-size: 14px; 
      transition: all .1s linear; 
      font-family: EncodeSansExpanded-Bold,arial,tahoma;
  } 
  
  button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .button.button-black { 
      background-color: #252525;
  } 
  
  .button.width-auto { 
      width: auto; 
      padding: 0 15px; 
      max-width: none;
  } 
  
  .match .top .blocks .button  { 
      width: 175px; 
      height: 40px; 
      line-height: 40px; 
      margin: 0; 
      font-weight: 700;
  } 
  
  .button:not(:disabled):hover { 
      opacity: .85; 
      color: #fff!important;
  } 
  
  .match .bottom .one > div  { 
      display: inline-block; 
      vertical-align: middle;
  } 
  
  .match .bottom .one > div.first  { 
      color: #616161;
  } 
  
  .match .bottom .one > div.first  { 
      margin-right: 5px;
  } 
  
  .flag-icon { 
      background-size: cover; 
      background-position: 50%; 
      background-repeat: no-repeat;
      
  } 
  
  .match .top .teams .image-holder > div  { 
      display: block; 
      width: 100%; 
      height: 100%; 
      border: 2px solid #fff; 
      border-radius: 50%;
  } 
  
  .match .top .teams .team-names .team-name  { 
      display: inline-block; 
      vertical-align: middle; 
      font-size: 14px; 
      font-family: EncodeSansExpanded-Bold,arial,tahoma; 
      color: #000; 
      line-height: 20px;
  } 
  
  @media (min-width: 1200px){ 
    .match .top .teams .team-names .team-name  { 
      font-size: 16px;
    } 
  }     
  
  .match .top .teams .team-names .team-name.first  { 
      margin-right: 5px;
  } 
  
  .match .top .teams .team-names .team-name-holder  { 
      display: inline-block; 
      vertical-align: middle; 
      white-space: nowrap;
  } 
  
  .match .top .blocks .one-block > .image-holder  { 
      display: inline-block; 
      vertical-align: middle; 
      color: #000000; 
      height: 35px;
  } 
  
  .match .top .blocks .one-block > .image-holder  { 
      margin-right: 10px;
  } 
  
  .match .top .blocks .one-block .info  { 
      display: inline-block; 
      vertical-align: middle;
      margin-right: 30px;
      text-align: right;
  } 
  .image-holder.first {
    width: 100%; 
    height: 100%; 
  }
  
  .flag-icon.style-GZKDY img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  .image-holder.second {
    width: 100%; 
    height: 100%; 
  }
  
  .flag-icon.style-jQWQz img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  
  
  .match .top .teams .team-names .vs  { 
      display: inline-block; 
      vertical-align: middle; 
      font-size: 12px; 
      color: #616161; 
      font-family: EncodeSansExpanded-Regular,arial,tahoma; 
      line-height: 20px;
  } 
  
  .match .top .teams .team-names .team-name.second  { 
      margin-left: 5px;
  } 
  
  img { 
      vertical-align: middle; 
      border-style: none;
  } 
  
  .match .top .blocks .one-block > .image-holder > img  { 
      display: block; 
      height: 100%; 
      width: auto;
  } 
  
  .match .top .blocks .one-block .info > h6  { 
      font-weight: 700; 
      color: #000; 
      font-size: 13px; 
      white-space: pre-wrap;
      text-align: right;
      width: 1px;
  } 
  
  .match .top .blocks .one-block .info .first  { 
      font-weight: 700; 
      color: #000000; 
      font-size: 13px; 
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
  } 
  
  .match .top .blocks .one-block .info .second  { 
      font-weight: 700; 
      color: #7f7f7f; 
      font-size: 12px; 
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
  } 
  
  
  /* Your existing styles */
  
  /* Your existing styles */
  
  @media screen and (max-width: 900px) {
    /* Apply styles when screen width is 660px or less */
  
    .top {
      flex-direction: column; /* Display the teams and blocks vertically */
    }
  
    .blocks .one-block {
      margin-bottom: 10px; /* Add spacing between blocks */
    }
  
    .when,
    .stadium,
    .one {
      display: none; /* Hide the date, stadium, tournament, match no, and group */
    }
  }
  .all-matches{
    width: 80%;
        margin: 0 auto;
        margin-top: 2%;
  }
  .d-inline-block .rounded-circle{
    width: 85px; height: 100px;
    
  }
  
  .mt-3{
    font-weight: bold;
  }
  .mt-3 .leftside{
    margin-right: 30px;
  }
  #staticBackdropLabel{
    font-weight: bolder;
  
  }
  .modal-title {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
  
  .modal-footer .button-black{
    margin:  10px;
  }